altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
commonmark
contourpy
cycler
decorator
entrypoints
fonttools
gitdb
GitPython
idna
importlib-metadata
Jinja2
joblib
jsonschema
kiwisolver
MarkupSafe
matplotlib
numpy
packaging
pandas
Pillow
pip
plotly
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
requests
rich
scikit-learn
scipy
seaborn
semver
setuptools
six
smmap
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wheel
zipp
